root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# code files
[*.{cs,csx,cake}]
indent_size = 4
tab_width = 4

# config files
[*.{json,xml,yml,runsettings,config}]
indent_size = 2
tab_width = 2
