[submodule "docs/vpear-docs"]
	path = docs/vpear-docs
	url = https://github.com/psachmann/vpear-docs.git
[submodule ".\\docs\\vpear-docs"]
	path = .\\docs\\vpear-docs
	url = https://github.com/psachmann/vpear-docs.git
